@* 
    Vista Form per aggiungere un videogioco all'interno del database
*@
 
@model VideogiocoCategoria
    
<div class="form-body body_form" id="formCrea">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 class="text-center">Aggiungi un gioco</h3>
                    
                    <!-- Form -->
                    <form action="@Url.Action("Crea", "Admin")" method="post">
                        @Html.AntiForgeryToken()

                        <!-- Titolo -->
                        <div class="col-md-12">
                           <input asp-for="videogioco.Nome" placeholder="Titolo del gioco">
                           <span asp-validation-for="videogioco.Nome" class="text-danger"></span>
                        </div>

                        <!-- Immagine -->
                        <div class="col-md-12">
                            <input asp-for="videogioco.Foto" placeholder="Immagine del gioco">
                            <span asp-validation-for="videogioco.Foto" class="text-danger"></span>
                        </div>

                        <!-- Categoria -->
                       <div class="col-md-12">
                            <select asp-for="videogioco.CategoriaId" class="form-select mt-3">
                                  <option selected disabled value="">Categoria videogioco</option>
                                @foreach(Categoria categoria in Model.categoria)
                                {
                                    <option value="@categoria.Id">@categoria.Tema</option>
                                }
                           </select>
                           <span asp-validation-for="videogioco.Categoria" class="text-danger"></span>
                       </div>

                       <!-- Descrizione -->
                       <div class="col-md-12">
                          <textarea asp-for="videogioco.Descrizione" placeholder="Descrizione"></textarea>
                          <span asp-validation-for="videogioco.Descrizione" class="text-danger"></span>
                       </div>

                       <!-- Prezzo -->
                       <div class="col-md-12">
                          <input asp-for="videogioco.Prezzo" placeholder="Prezzo">
                          <span asp-validation-for="videogioco.Prezzo" class="text-danger"></span>
                       </div>
                        
                       <!-- Invia -->
                       <div class="mt-3 text-center">
                           <input type="submit" class="btn btn-primary" value="Invia">
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        // ------ tolto search bar dalla navbar ------
        document.getElementById('search_input').classList.add('d-none');
    </script>
}
    
