#sfondo {
    background-color: rgb(28, 44, 60);
}

#sfondoFooter {
    background-color: rgb(44, 44, 52);
}

.steam-verde {
    color: #5c7e10;
}

.steam-button {
    background-color: #708d04;
    border-color: #3d501f;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
}