#sfondo {
    background-color: rgb(28, 44, 60);
}

#sfondoFooter {
    background-color: rgb(44, 44, 52);
}

.steam-verde {
    color: #5c7e10;
}




.btn_green_white_innerfade {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #D2E885 !important;
    background: #a4d007;
    background: -webkit-linear-gradient( top, #a4d007 5%, #536904 95%);
    background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
}

.steam-button {
    background-color: #708d04;
    border-color: #3d501f;

    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
}
