@*
    Vista di ringraziamento per l'acquisto cliente
*@

@model OrdineVideogioco

<div class="container">
    <h3 class="text-center">
        Grazie per aver acquistato @Model.videogioco.Nome!
    </h3>
</div>