@*
    Vista Homepage cliente
*@

    @*<div class="col">
                <div class="card  text-center " style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.Xh7IBZxMQd2jCYgNhfWoxwHaKd?pid=ImgDet&rs=1" class="card-img-top" alt="Just Cause 4" />
                    <div class="card-body">
                        <h5 class="card-title">Just Cause 4</h5>
                        <a href="#" class="btn btn-danger">Dettagli</a>
                    </div>
                </div>*@

<div class="container my-5 text-center">
    <h1 class = "text-light">Negozio Videogiochi</h1>
</div>


<div class="container shadow p-3 mb-5 rounded py-5" id="corpoVideogiochi">



    <div class="container">
    <div id="videogiochi-wait" class="row  text-center">
        <div class="col-12">
            <h3>Sto aspettando i POST ...</h3>
        </div>
    </div>
    <div id="no-NoVideogiochi" class="row  text-center d-none">
        <div class="col-12">
            <h3>Non hai inserito alcun post</h3>
        </div>
    </div>
    <div id="videogiochi-div" class="row d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
</div>
    

        </div>
    
    



    @section Scripts {
        <script type="text/javascript">
            
            caricaVideogiochi();
            MiPiaceAiVideogiochi();

            function caricaVideogiochi()
            {
                document.getElementById("videogiochi-div").innerHTML= "";
                axios.get('api/Videogiochi/Get')
                .then
                (result =>
                    {
                        console.log("Ha ricevuto i videogiochi non ho capito bene come ma va");
                        result.data.forEach (videogioco => 
                            {                            
                               document.getElementById("videogiochi-div").innerHTML +=
                               `
                               <div class="col">
                                <div class="card  text-center " style="width: 18rem;">
                                    <img src="${videogioco.foto}" class="card-img-top" alt="${videogioco.nome}" />
                                    <div class="card-body">
                                        <h5 class="card-title">${videogioco.nome}</h5>
                                        <a href="#" class="btn btn-danger">Dettagli</a>
                                    </div>
                               </div>
                               `
                            }
                        )
                    }
                )
            }

            //function MiPiaceAiVideogiochi()
            //{
            //    axios.get('api/VideogiochiMiPiace/Get')
            //    .then(result => {

            //        console.log("Ho ricevuto i videogiochi_Mi_piace che pure io non ho capito bene come va");

            //        result.data.forEach(videogioco => {
            //            document.getElementById("corpoVideogiochi").innerHTML +=
            //                   `
            //                   `
            //        })
            //    })
        </script>

    }
