@*
    Vista Homepage cliente
*@

<!-- carosello, slide di giochi -->
<container>
    <div id="carouselExampleControls" class="carousel slide rounded-2 d-none d-sm-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/banner_valorant.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block caroselDark">
                    <p>Fondi stile ed esperienza su un palco competitivo globale.</p>
                    <a href="/Home/Dettagli/2" class="btn btn-danger">Scopri di più</a>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/img/banner_horizon.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block caroselLight">
                    <p>Scopri l'Ovest Proibito nel secondo capitolo della saga</p>
                    <a href="/Home/Dettagli/2" class="btn btn-danger">Scopri di più</a>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/img/banner_eldenring.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block caroselDark">
                    <p>Il carosello funziona dio mio aiuto</p>
                    <a href="/Home/Dettagli/7" class="btn btn-danger">Scopri di più</a>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</container>

<!-- container della pagina -->
<div class="container-fluid shadow p-3 mb-3 rounded py-5 text-light">

    <!-- Dropdown categorie -->
    <div class="dropdown mb-4">
        <a class="btn dropdown-toggle text-light Steam-dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <strong class="text_dropdown" id="categoriaAttuale">Categorie</strong>
        </a>
                                
        <ul class="dropdown-menu Steam-dropdown" aria-labelledby="dropdownMenuLink" id="categoria">
            <!-- qui verranno mostrate le categoria nel dropdown-->
        </ul>
    </div>

    <!-- Caricamento della pagina -->
    <div id="wait_videogioco" class="row justify-content-center my-5">
        <div class="col-2 justify-content-center">        
            <div class="loader">
                <div class="ball d-inline-block"></div> <div class="ball d-inline-block"></div> <div class="ball d-inline-block"></div>
                <br/>
                <span>Loading...</span>
            </div>
        </div>
    </div>

    <!-- Div nel caso non ci fossero videogiochi -->
    <div id="no-videogiochi" class="row text-center d-none">
        <div class="col-12">
            <h3>Non è disponibile nessun videogioco</h3>
        </div>
    </div>

    <!-- Homepage negozio -->
    <div id="videogiochi_div" class="row mt-3 justify-content-center text-center mx-4 d-none">
            <!-- qui verranno mostrati i videogiochi -->
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        
        document.getElementById('search_input').addEventListener('keyup', cercaVideogioco);

        cercaVideogioco();

        caricaDropdown(); 

// ------ Visualizza tutti i videogiochi ------
        function caricaVideogiochi(parametroSearch) {
            document.getElementById("videogiochi_div").innerHTML = "";

            axios.get('api/Videogiochi/Get', {
                params: {
                    search: parametroSearch
                }
            }).then(result => {

                if (result.data.length == 0) {
                    document.getElementById("wait_videogioco").classList.add("d-none");
                    document.getElementById("no-videogiochi").classList.remove("d-none");
                }
                else {
                    document.getElementById("wait_videogioco").classList.add("d-none");
                    document.getElementById("videogiochi_div").classList.remove("d-none");
                    document.getElementById("no-videogiochi").classList.add("d-none");
                    

                    result.data.forEach(videogioco => {
                        filtroPreferiti(videogioco);
                    })
                }
            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            })
        }

// ------ Filtra e visualizza i videogiochi in base alla categoria ------
        function cercaPerCategoria(id){

            axios.get('/api/Categoria/Get', {
                params: {
                    idCategoria: id
                }
            }).then(result => {

                if (result.data.length > 1) {
                    document.getElementById("categoriaAttuale").innerHTML = `Categorie`;
                } 
                else {
                    document.getElementById("categoriaAttuale").innerHTML = `${result.data.tema}`;
                }
            }).catch(error => {
                console.log("C'é stato un errore: " + error);
            })

            axios.get('api/Videogiochi/Get',{
                params:{
                    idCategoria: id
                }
            }).then(result =>{

                if (result.data.length == 0) {

                    document.getElementById("videogiochi_div").classList.add("d-none");
                    document.getElementById("no-videogiochi").classList.remove("d-none");

                }
                else {

                    document.getElementById("no-videogiochi").classList.add("d-none");
                    document.getElementById("videogiochi_div").classList.remove("d-none");
                    document.getElementById("videogiochi_div").innerHTML = "";

                    result.data.forEach(videogioco => {
                        filtroPreferiti(videogioco);
                    })
                }
            }).catch(error =>{
                console.log("C'è stato un errore: " + error);
            })
        }

    </script>
}
